main{
    background-image: ;
}
header{
    margin: 0px;
    padding: 0px;
    background-color: bisque;
}
.characterCard{
    display: flex;
    background-image: url(../img/fondoCharactersHtml.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}
.cardImgTop{
    display: flex;
    min-width: 150px;
    max-width: 250px;
    min-height: 100px;
    max-height: 300px;
    align-self: center;
    background: rgb(230,241,55);
    background: linear-gradient(0deg, rgba(230,241,55,1) 18%, rgba(9,27,80,1) 90%);
}

.cardCard{
    background-color: rgba(179, 23, 23, 0.205);
    margin: 30px;
}